<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>ball.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 5}, {40, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{40, 40}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{194, 469}, {40, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dot1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {24, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{24, 24}</string>
			<key>spriteSourceSize</key>
			<string>{24, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{161, 118}, {24, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eye.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 31}</string>
			<key>spriteSourceSize</key>
			<string>{30, 31}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{129, 118}, {30, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jellyfish1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 51}, {192, 98}}</string>
			<key>spriteOffset</key>
			<string>{-4, -0}</string>
			<key>spriteSize</key>
			<string>{192, 98}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 401}, {192, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jellyfish2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 58}, {180, 98}}</string>
			<key>spriteOffset</key>
			<string>{8, -7}</string>
			<key>spriteSize</key>
			<string>{180, 98}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{194, 369}, {180, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jellyfish3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 68}, {176, 98}}</string>
			<key>spriteOffset</key>
			<string>{12, -17}</string>
			<key>spriteSize</key>
			<string>{176, 98}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{354, 218}, {176, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jellyfish4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 77}, {180, 98}}</string>
			<key>spriteOffset</key>
			<string>{5, -26}</string>
			<key>spriteSize</key>
			<string>{180, 98}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{172, 269}, {180, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jellyfish5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 77}, {180, 98}}</string>
			<key>spriteOffset</key>
			<string>{-5, -26}</string>
			<key>spriteSize</key>
			<string>{180, 98}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{302, 118}, {180, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jellyfish6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 70}, {174, 98}}</string>
			<key>spriteOffset</key>
			<string>{-12, -19}</string>
			<key>spriteSize</key>
			<string>{174, 98}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{485, 0}, {174, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jellyfish7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 65}, {174, 98}}</string>
			<key>spriteOffset</key>
			<string>{-13, -14}</string>
			<key>spriteSize</key>
			<string>{174, 98}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{661, 0}, {174, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jellyfish8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 58}, {176, 98}}</string>
			<key>spriteOffset</key>
			<string>{-12, -7}</string>
			<key>spriteSize</key>
			<string>{176, 98}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 100}, {176, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jellyfish9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 54}, {180, 98}}</string>
			<key>spriteOffset</key>
			<string>{-10, -3}</string>
			<key>spriteSize</key>
			<string>{180, 98}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{303, 0}, {180, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monster.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {128, 126}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{128, 126}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 155}, {128, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>obstacle2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {127, 153}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{127, 153}</string>
			<key>spriteSourceSize</key>
			<string>{127, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {127, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 50}, {172, 116}}</string>
			<key>spriteOffset</key>
			<string>{8, -8}</string>
			<key>spriteSize</key>
			<string>{172, 116}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{129, 0}, {172, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 51}, {170, 116}}</string>
			<key>spriteOffset</key>
			<string>{-2, -9}</string>
			<key>spriteSize</key>
			<string>{170, 116}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 283}, {170, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 51}, {170, 116}}</string>
			<key>spriteOffset</key>
			<string>{-13, -9}</string>
			<key>spriteSize</key>
			<string>{170, 116}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{130, 151}, {170, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>atlasScene</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>atlasScene_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>atlasScene_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>